@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  max-width: 25%;
  margin: auto;
}

.control {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
